#################################################################
# iCEcube PCF
# Version:            2012.09SP1.22498
# File Generated:     May 1 2013 11:36:30
# Family & Device:    iCE40HX4K
# Package:            TQ144
# #################################################################
set_io sram_a[9]     2  -pullup yes #[22]
set_io sram_a[8]     3  -pullup yes #[21]
set_io sram_a[7]     4  -pullup yes #[20]
set_io rsvd[0]       7  -pullup yes
set_io rsvd[1]       8  -pullup yes
set_io sram_a[6]     9  -pullup yes #[19]
set_io sram_a[5]    10  -pullup yes #[18]
set_io sram_we_l    11  -pullup yes #[17]
set_io sram_d[7]    12  -pullup yes #[16]

set_io sram_d[6]    15  -pullup yes #[15]
set_io sram_d[5]    16  -pullup yes #[14]
set_io sram_d[4]    17  -pullup yes #[13]

set_io sram_d[3]    18  -pullup yes #[10]
set_io sram_d[2]    19  -pullup yes #[9]

set_io sram_d[1]    22  -pullup yes #[8]
set_io sram_d[0]    23  -pullup yes #[7]
set_io sram_ce_l    24  -pullup yes #[6]
set_io sram_a[4]    25  -pullup yes #[5]
set_io rsvd[2]      26  -pullup yes
set_io rsvd[3]      28  -pullup yes
set_io rsvd[4]      29  -pullup yes

set_io sram_a[3]    31  -pullup yes #[4]
set_io sram_a[2]    32  -pullup yes #[3]
set_io sram_a[1]    33  -pullup yes #[2]
set_io sram_a[0]    34  -pullup yes #[1]

set_io tbd[0]       35  -pullup yes
set_io tbd[1]       36  -pullup yes

set_io clk_100m     49  -pullup yes

set_io tbd[2]       50  -pullup yes
set_io tbd[3]       51  -pullup yes
set_io tbd[4]       52  -pullup yes


set_io tbd[5]       58  -pullup yes

set_io sram_a[16]   60  -pullup yes #[43]
set_io sram_a[17]   61  -pullup yes #[44]
set_io sram_a[15]   62  -pullup yes #[42]

set_io cbsel[0]     63  -pullup yes
set_io cbsel[1]     64  -pullup yes

# set_io cfg_done     65  
# set_io cfg_rst_l    66  
set_io cfg_so       67  
set_io cfg_si       68  
set_io cfg_sck      70  
set_io cfg_ss       71
set_io tbd[6]       72  -pullup yes

set_io pi_id[0]     73  -pullup yes
set_io pi_id[1]     74  -pullup yes

set_io sram_ub_l    75  -pullup yes #[42]
set_io sram_oe_l    76  -pullup yes #[41]
set_io tbd[7]       77  -pullup yes

set_io pi_spi_ce[1] 78  -pullup yes
set_io pi_spi_sck   79  -pullup yes
set_io sram_d[15]   80  -pullup yes #[38]

set_io sram_lb_l    81  -pullup yes #[39]
set_io sram_d[13]   82  -pullup yes #[36]
set_io sram_d[14]   83  -pullup yes #[37]
set_io sram_d[12]   84  -pullup yes #[35]
set_io pi_spi_ce[0] 85  -pullup yes
set_io pi_spi_miso  87  -pullup yes
set_io pi_gpio[0]   88  -pullup yes
set_io pi_spi_mosi  90  -pullup yes
set_io sram_d[11]   91  -pullup yes #[32]
set_io tbd[8]       93  -pullup yes
set_io tbd[9]       94  -pullup yes
set_io sram_d[10]   95  -pullup yes #[31]
set_io sram_d[9]    96  -pullup yes #[30]
set_io sram_d[8]    97  -pullup yes #[29]
set_io sram_a[18]   98  -pullup yes #[28]
set_io pi_gpio[1]   99  -pullup yes
set_io pi_gpio[2]   101 -pullup yes
set_io sram_a[14]   102 -pullup yes #[27]
set_io sram_a[13]   104 -pullup yes #[26]
set_io sram_a[12]   105 -pullup yes #[25]
set_io sram_a[11]   106 -pullup yes #[24]
set_io sram_a[10]   107 -pullup yes #[23]
set_io ok_led       110 -pullup yes
set_io pi_uart_ro   112 -pullup yes
set_io pi_uart_wi   113 -pullup yes
set_io pi_i2c_scl   114 -pullup yes
set_io pi_i2c_sda   115 -pullup yes

set_io xtra_a[2]    116 -pullup yes
set_io xtra_a[3]    117 -pullup yes
set_io xtra_a[4]    118 -pullup yes
set_io ftdi_wo      119 -pullup yes
set_io xtra_a[0]    120 -pullup yes
set_io xtra_a[1]    121 -pullup yes
set_io ftdi_wi      122 -pullup yes
set_io ftdi_ro      124 -pullup yes
set_io ftdi_ri      125 -pullup yes
set_io j0_l         128 -pullup yes # Input Only Clock Capable
set_io j1_l         129 -pullup yes # Input Only Clock Capable

set_io gpio_pin[0]  141  -pullup yes
set_io gpio_pin[1]  139  -pullup yes
set_io gpio_pin[2]  138  -pullup yes
set_io gpio_pin[3]  137  -pullup yes
set_io gpio_pin[4]  136  -pullup yes
set_io gpio_pin[5]  135 -pullup yes
set_io gpio_pin[6]  134 -pullup yes
set_io gpio_pin[7]  130 -pullup yes

set_io gpio_pin[8]  55  -pullup yes
set_io gpio_pin[9]  56  -pullup yes
set_io gpio_pin[10] 47  -pullup yes
set_io gpio_pin[11] 48  -pullup yes
set_io gpio_pin[12] 44  -pullup yes
set_io gpio_pin[13] 45  -pullup yes
set_io gpio_pin[14] 42  -pullup yes
set_io gpio_pin[15] 43  -pullup yes

set_io gpio_pin[16] 41  -pullup yes
set_io gpio_pin[17] 39  -pullup yes
set_io gpio_pin[18] 38  -pullup yes
set_io gpio_pin[19] 37  -pullup yes

set_io gpio_pin[20]  1  -pullup yes
set_io gpio_pin[21] 144  -pullup yes
set_io gpio_pin[22] 143  -pullup yes
set_io gpio_pin[23] 142  -pullup yes

